* {
   font-family: verdana;
   font-size: 14px;
   margin: 0;
}
body {
   margin: 0;
   padding: 0;
}
.main_header {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
}

nav,
ul {
   display: flex;
   justify-content: flex-end;
}

nav,
a {
   list-style-type: none;
   text-decoration: none;
   text-align: center;
   color: black;
   font-weight: 500px;
   padding: 30px 10px 20px 45px;
}

nav a:hover {
   color: rgb(156, 28, 49);
}

.main_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(248, 155, 170);
   height: 60vh;
   padding: 0;
}
.writing_1 {
   font-size: 40px;
   font-weight: 200;
   color: white;
   padding: 40px;
}
.paragraph {
   color: white;
}
.button-1,
button {
   outline: none;
   border: none;
   font-weight: 500px;
   border-radius: 20px;
   margin-top: 28px;
   margin-bottom: 80px;
   padding: 8px 20px 8px 20px;
   opacity: 0.5;
   cursor: pointer;
}
button:hover {
   background-color: white;
}

.flex_container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(247, 199, 207);
}

.box-1 {
   flex: ;
   width: 20%;
   box-sizing: border-box;
   background-color: white;
   padding: 40px 10px 40px 10px;
   margin: 0 30px 30px 30px;
   text-align: center;
}
